<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Quiz</title>
</head>
<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }
</style>
<body style = "background-color:#1D2A35; color:White">


    <ul>
        <li><a href=" {% url 'createQuiz:main_menu' %} "> Menu</a></li>
        <li><a href=" {% url 'createQuiz:quiz_bank' %} "> Import Question</a></li>
    </ul>
    <h3>Quiz Creation</h3>
    Session Counter: {{request.session.visits}} <br>
    Hi <strong>{{request.session.username}}</strong>!<br>
    Type: <strong>{{request.session.type}} </strong><br>
    <form action="" method="post">

        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Add Question">
        <a href="{% url 'createQuiz:close_quiz' %}">Finish</a>



    </form>

</body>
</html>