<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
  <p>Quiz Portal Center</p>
  Username:<strong>{{request.session.username}}</strong>  <br>
  Type: <strong>{{request.session.type}} </strong><br>

  {% if request.session.username != '' and request.session.type == 'S'%}
    <a href="{% url 'createQuiz:ans_quiz' %}">Navigate Quiz</a>
    <a href="{% url 'createQuiz:login' %}">Log Off</a>
  {%elif request.session.username != '' and request.session.type == 'T' %}
    <a href="{% url 'createQuiz:add_quiz' %}">Create New Quiz</a>
    <a href="{% url 'createQuiz:login' %}">Log Off</a>
  {% else %}
    <a href="{% url 'createQuiz:login' %}">Login</a>
    <a href="{% url 'createQuiz:add_student' %}">CreateNew Student</a>
  {% endif %}

</body>
</html>