<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<style>
    .p2 {
      font-family: Arial, Helvetica, Verdana, sans-serif;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }

</style>
<div class="p2">
<main>
  <body style = "background-color:#1D2A35; color:White">


    {% if request.session.username != '' and request.session.type == 'S'%}
    <nav>
      <ul>
            <li><a href="{% url 'createQuiz:ans_quiz' %}">Navigate Quiz</a></li>
            <li><a href="{% url 'createQuiz:quiz_result' %}">Results</a></li>
            <li><a href="{% url 'createQuiz:logout' %}">Log Off</a></li>
      </ul>
    </nav>

      <p>Quiz Portal Center</p>
      <p>
        Welcome back {{request.session.type}}tudent,  <strong>{{request.session.username}}</strong>!  <br>
      </p>
    {%elif request.session.username != '' and request.session.type == 'T' %}
      <ul>
        <li><a href="{% url 'createQuiz:add_quiz' %}">Create New Quiz</a></li>
        <li><a href="{% url 'createQuiz:edit_quiz' %}">Edit Quiz</a></li>
        <li><a href="{% url 'createQuiz:record_scores' %}">Record Scores</a></li>
        <li><a href="{% url 'createQuiz:logout' %}">Log Off</a></li>
      </ul>
      <p>
        Welcome back {{request.session.type}}eacher,  <strong>{{request.session.username}}</strong>!  <br>
      </p>
    {% else %}
      <h3>Invalid Access!</h3>
      <a href="{% url 'createQuiz:login' %}">Login</a>
    {% endif %}

  </body>
  </main>
</div>
</html>