<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }
</style>
<body style = "background-color:#1D2A35; color:White">
    <ul>
        <li><a href="{% url 'createQuiz:login' %}">Sign in</a></li>
    </ul>
    <h1>Student Registration Page</h1>
  <form action="" method="post">
      {%csrf_token%}
      {{form.as_p}}
      <input type="submit" value="Create">
  </form>
</body>
</html>